html,
body,
.container,
.row,
.col {
  margin: 0;
  padding: 0;
  width: 100%;
}

div,
body {
  background-color: rgb(37, 37, 37);
}

span,
p,
h1,
h2 {
  color: white;
}

.center {
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}